@include describe("The _block function") {

    $_bem-current-context: () !global;

    @include it("should generate a object namespaced selector for a given block") {
        @include should( expect( _block('block', 'object') ), to( be( '.o-block' )));
    }


    $_bem-current-context: () !global;

    @include it("should generate a component namespaced selector for a given block") {
        @include should( expect( _block('block', 'component') ), to( be( '.c-block' )));
    }


    $_bem-current-context: () !global;

    @include it("should generate a utility namespaced selector for a given block") {
        @include should( expect( _block('block', 'utility') ), to( be( '.u-block' )));
    }


    $_bem-current-context: () !global;

    @include it("should return false or throw error if block is created within another block") {
        @include block('block', 'object') {
            @include should( expect( _block('block', 'object') ), to( be( false )));
        }
    }


    $_bem-current-context: () !global;

    @include it("should return false or throw error if block is created within a scope") {
        @include scope('scope') {
            @include should( expect( _block('block', 'object') ), to( be( false )));
        }
    }

}
